html,
body {
  font-family: Rufina;
  background: #e5e5e5;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Rufina;
  font-weight: normal;
}
